body {
    font-family: Arial, Helvetica, sans-serif;
    background: #6488DC;
    
}

h1{ 
    font-family: 'Fugaz One', cursive;
    font-size: 80px;
    margin: 50px 50px 30px 100px;
    background: #44CE7A;
}

h2 {
    font-family: "Fugaz One", cursive;
    font-size: 50px;
    margin: 15px 50px 15px 100px;
    padding:10px 0px 0px 0px
}

h3 {
    font-family: "Fugaz One", cursive;
    font-size: 30px;
    margin: 15px 50px 15px 100px;
    padding:10px 0px 0px 0px
}
ul {
    list-style-type:disc;
    margin: 20px 120px;
}

p {
    margin: 30px 50px 15px 100px
}