body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:#f8e8b4;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

h1 { 
    font-family: 'Fugaz One', cursive;
    color: #253217;
    font-size: 80px;
    height: 621px;
    width: 100%;
    line-height: 200px;
    background-image: url("../img/home-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    font-family: "Fugaz One", cursive;
    color: #994726;
    font-size: 50px;
    margin: 15px 100px 15px 100px;
    padding:10px 0px 0px 0px;
}

h3 {
    font-family: "Fugaz One", cursive;
    font-size: 30px;
    margin: 15px 50px 15px 50px;
    padding:10px 0px 0px 0px
}
ul {
    list-style-type:disc;
    margin: 20px 120px;
}

p {
    margin: 30px 100px 15px 100px
}

table {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #918871;
    color: #f8e8b4; 
    text-align: left;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 2px solid #f8e8b4;
    padding: 10px;
}

a {
    padding: 50px;
    color:#ba7746;
    font-style: italic;
    font-family: "Fugaz One", cursive
}

td:first-child, th {
    background-color: #665646;
}

th:last-child, td:last-child {
    background-color: #343317
}

.quote {
    font-size: 20px;
    background-color: #343317;
    color: #f8e8b4;
    border: 10px dotted black;
    font-style: italic;
    width: 500px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
}

span {
    font-weight: bold
}

#add-store {
    border: 2px solid black;
    align-content: left;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 2%;
    width: 600px;
    margin-bottom: 20px;
    line-height: 35px;
}

legend, button {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 0px 0px 20px 0px;
}

button {
    width: 20%;
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    color: #ba7746;
    background-color: #994726;
    border-radius: 27%;
}

button:hover {
    color: #994726;
    background-color: #ba7746;
    cursor: pointer;
}

tr:last-child {
    background-color: #343317
}

.maps {
    width: 300px;
    height: 200px;
    border: 2px solid #253217;
}

.topnav {
    width: 100%;
    background-color: #253217;
    color: #f8e8b4;
    padding: 15px;
    font-size: 20px;
}

.fish-icon {
    height: 40px
}

.locations-container, .store-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px
}

.fish-border {
    height: 250px;
    background-image: url("../img/drawn-fish.png");
    background-repeat: round;
    margin: 100px;
}

.store-images {
    border: 2px solid #253217;
}

figcaption {
    font-style: oblique;
    font-size: 20px;
}

.introduction {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding-left: 100px;
}

#sylvia {
    margin: 50px 50px 0px 100px;
    border: 2px solid #253217;
}

.grandma {
    margin: 50px
}